* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  /* transition: all 0.5s ease-in-out; */
  user-select: none;
  -webkit-user-drag: none;
  -moz-user-modify: none;
}
html,
body {
  width: 100%;
  height: 100%;
}
.lift-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.lift-floors {
  position: relative;
  width: 300px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.floor {
  width: 100%;
  height: 120px;
  background: url(elements-smoothbronze.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-bottom: 2px solid white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 0px;
  color: white;
}
.lift {
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 120px;
}

.lift::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  background: url(lift-passenger-1.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.lift::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: url(lift-passenger-2.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.lift-doors {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  display: none;
}

.lift-left-door,
.lift-right-door {
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
  background: url(elements-brushed-silver.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: 1;
}

.lift-left-door {
  left: 0;
}

.lift-right-door {
  right: 0;
}

.lift-buttons {
  width: 140px;
  height: 250px;
  border-radius: 20px;
  background: url(elements-fiber-fossil.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  z-index: 1;
}
.lift-btn {
  width: 50px;
  height: 50px;
  border: none;
  background-color: black;
  font-size: 20px;
  font-weight: 500;
  color: white;
  cursor: pointer;
  border-radius: 10px;
}

#LiftBtnG {
  position: relative;
  overflow: hidden;
  font-size: 0;
}

#LiftBtnG::before {
  content: "G";
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  font-size: 20px;
}

@media (max-width: 500px) {
  .lift-floors {
    width: 200px;
  }
  .floor {
    height: 100px;
  }
  .lift {
    height: 100px;
  }
  .lift-buttons {
    width: 100px;
    height: 400px;
    flex-direction: column;
  }
  .lift-btn {
    padding: 7px 10px;
    font-size: 17px;
  }
}
